.searchRow {
  margin-top: 66px;
  display: flex;
  align-items: center;

  .inputWrap {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    position: relative;
    .imgBlock {
      position: relative;
      flex: 0;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        background-image: url("../../assets/icons/serch.png");
        z-index: 999;
      }
    }

    input {
      flex: 8;
      border: none;
      font-family: var(--roboto);
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: var(--grey);
      outline: none;
      cursor: pointer;
      margin-left: 30px;

    }
  }
}

