.row {
  padding: 26px 0 26px 26px;
  position: relative;
  width: 95%;
  &:before{
    position: absolute;
    content: '';
    width: 95%;
    height: 1px;
    bottom: 0;
    left: 6px;
    background: var(--grey);
  }

  &:hover {
    background: var(--blue);
    border-radius: 10px;
    li,.id{
      color: var(--white);
    }
  }
  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      font-family: var(--roboto);
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      text-align: left;
      justify-content: space-between;
      color: var(--black);
      width: 110px;

    }
    .id {
      font-style: normal;
      font-weight: bold;
      color: var(--blue);
    }
    .networkStatus {
      overflow: visible;
      span{
        background: rgba(115, 228, 96, 0.4);
        border-radius: 30px;
        padding: 6px 13px 6px 28px;
        position: relative;
        font-family: var(--roboto);
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        color: var(--green);
        &::before{
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background: var(--green);
          border-radius: 50%;
          left: 7px;
          top: 7px
        }
      }

    }
  }
}

@media (max-width: 1199px) {
  .row {
    width: 100%;
    .id {
      width: 30px;
    }
    ul{
      li{
        width: 100px;
        overflow: hidden;
        padding: 0 5px;
      }
    }
  }
}
@media (max-width: 575px) {
  .row{
    ul{
      .id{
        width: 10px;
        position: absolute;
        top: 8px;
        overflow: visible;
        &:before{
          content: 'ID:';
          width: 5px;
          height: 5px;
          top: 0;
          left: 0;
        }
      }
      li{
        width: 40px;
        font-size: 12px;
        &:last-child{
          display: none;
        }
      }
      .networkStatus{
        span{
          font-size: 0;
          background: none;
        }
      }
    }
  }
}

